---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

// Function to find the index of a featured post
function findFeaturedPostIndex(posts: any, slug: any) {
  return posts.findIndex((post: any) => post.slug === slug);
}

// Fetch and sort the posts collection
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Move the post with slug "start-exploring" to the first position
const featuredSlug = "start-exploring";
const featuredPostIndex = findFeaturedPostIndex(posts, featuredSlug);

if (featuredPostIndex > -1) {
  const [featuredPost] = posts.splice(featuredPostIndex, 1);
  posts.unshift(featuredPost);
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="banner">
        <!-- Optional banner image if needed -->
      </div>

      <section>
        <ul class="blog-list">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img
                    src={post.data.heroImage}
                    alt={post.data.title}
                    class="blogImg"
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style>
      main {
        width: 100%;
        max-width: 1200px; /* Adjust as needed */
        margin: 0 auto;
        padding: 2rem;
        box-sizing: border-box;
      }
      .banner {
        display: none; /* Hide banner if not used */
      }
      .blog-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .blog-list li {
        width: calc(50% - 1rem);
        box-sizing: border-box;
      }
      .blog-list li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      .blog-list li img {
        width: 100%;
        height: 400px;
        border-radius: 12px;
        object-fit: cover;
        object-position: center;
      }
      .blog-list li a {
        display: block;
        text-decoration: none;
        color: inherit;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1.2;
        font-size: 1.25rem;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      .blog-list li a:hover .title,
      .blog-list li a:hover .date {
        color: rgb(var(--accent));
      }
      .blog-list li a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        .blog-list {
          gap: 0.5rem;
        }
        .blog-list li {
          width: 100%;
          text-align: center;
        }
        .blog-list li img {
          height: 400px; /* Maintain aspect ratio */
          object-fit: cover;
          object-position: center;
        }
        .blog-list li:first-child .title {
          font-size: 1.5rem;
        }
      }
    </style>
  </body>
</html>
